/false_start
/scripts
/etl/data/*
/etl/logs/*
.env
/docs/*
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.idea/*
.vscode/
*.swp
*.swo
.ipynb_checkpoints/
.coverage
htmlcov/
.pytest_cache/
.DS_Store
Thumbs.db
*.log
data/stat_tests